@highlightNote: #f26c4e;
@highlightRootNote: #3db878;

.piano .db::after { content: 'Db'; }
.piano .d::after { content: 'D'; }
.piano .eb::after { content: 'Eb'; }
.piano .e::after { content: 'E'; }
.piano .f::after { content: 'F'; }
.piano .gb::after { content: 'Gb'; }
.piano .g::after { content: 'G'; }
.piano .ab::after { content: 'Ab'; }
.piano .a::after { content: 'A'; }
.piano .bb::after { content: 'Bb'; }
.piano .b::after { content: 'B'; }
.piano .c::after { content: 'C'; }