@highlightNote: #00aeef;
@highlightRootNote: #00dab8;
@mobileWidth: 767px;

.instrument {
	.db::after { content: 'Db' !important; }
	.d::after { content: 'D' !important; }
	.eb::after { content: 'Eb' !important; }
	.e::after { content: 'E' !important; }
	.f::after { content: 'F' !important; }
	.gb::after { content: 'Gb' !important; }
	.g::after { content: 'G' !important; }
	.ab::after { content: 'Ab' !important; }
	.a::after { content: 'A' !important; }
	.bb::after { content: 'Bb' !important; }
	.b::after { content: 'B' !important; }
	.c::after { content: 'C' !important; }
}
