html, body, .container, #root, .home, .page {
	height: 100%;
}
body {
	font-family: -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
}

h1 {
	font-weight: 900;
}

a {
	font-weight: bold;
}

select, button {
	margin-right: 10px;
}

.container {
	margin: 0 auto;
	width: 1260px;
}

.home, .page {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.home .logo {
	background: url(logo.png);
	background-size: 250px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 250px;
	height: 275px;
}

.page .logo {
	background: url(johann-small.png);
	background-size: 150px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 150px;
	height: 25px;
	position: fixed;
	left: 20px;
	top: 20px;
}

.menu {
	display: flex;
	flex-direction: column;
}

.menu, nav ul {
	display: flex;
	align-items: center;
}

.menu a {
	text-decoration: none;
	text-transform: uppercase;
}

.menu-page p {
	display: none;
}

.home .menu {
	position: static;
}

.page .menu {
	position: fixed;
	top: 30px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: black;
}

a, nav ul li a:focus, li.selected a{
	color: #00dab8;
}

.blue {
	color: #00aeef;
}

.orange {
	color: orange;
}

footer {
	font-size: 12px;
	position: static;
	margin-top:30px;
	text-align: center;
	width: 100%;
}

/* Make the footer sticky for desktop */
@media(min-height:520px) {
	footer {
		font-size: 12px;
		position: fixed;
		bottom: 10px;
	}
}