.container {
	margin: 0 auto;
	width: 1260px;
}

.hide {
	display: none;
}

.menu, nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin: 5px;
}

nav ul li a:focus {
	color: red;
}